.hero{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 35px;
}
.hero img{
    margin-top: 100px;
}
.hero h1{
    text-align: center;
    width: 70%;
   font-size: 60px;
   font-weight: 600;
   color: white; 
}
.hero h1 span{
    background:linear-gradient(267deg, rgb(111, 2, 141) .36%, rgb(223, 118, 252) 102.06%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hero p{
    width: 50%;
    text-align: center;
    font-size: 24px;
    line-height: 40px;
    color: white;
}
.hero-action{
    display: flex;
    align-items: center;
    gap: 100px;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 50px;
}
.hero-connect{
    padding: 25px 45px;
    border-radius: 50px;
    background:rgb(166, 1, 211);
    cursor: pointer;
    transition: 0.5s;
}
.hero-connect:hover{
    transform: scale(1.25);
}
.hero-resume{
    border: 2px solid #B923E1;
    padding: 25px 45px;
    border-radius: 50px;
    color: #B923E1;
    cursor: pointer;
    transition: 0.5s;
}
.hero-resume:hover{
    background-color: #B923E1;
    color: black;
}
@media(max-width:768px){
    .hero img{
        margin-top: 120px;
        width: 260px;
    }
    .hero h1{
        width: 500px;
        font-size: 30px;

    }
    .hero p{
        width: 60%;
        font-size: 20px;
        line-height: 32px;
        margin: 10px 0px;
    }
    .hero-action{
        gap: 50px;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 50px;
    }
    .hero-connect{
        padding: 20px 30px;
        border-radius: 40px;
    }
    .hero-resume{
        padding: 20px 50px;
        border-radius: 40px;
    }
}
